.version.untitled_2 /* version checker */
{
	color: #0000FF;
	background-color: #1409FA;
}

.html
{
	background-color: #E4E4E4;
}

#page
{
	z-index: 1;
	width: 894px;
	min-height: 411px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #E4E4E4;
	margin-left: auto;
	margin-right: auto;
	padding: 27px 46px 62px 20px;
}

#u109-4
{
	z-index: 264;
	width: 364px;
	min-height: 18px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 15px;
	position: relative;
}

#u107-262
{
	z-index: 2;
	width: 894px;
	min-height: 35822px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 6px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

