* {
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: "RobotoDraft", "Noto Sans", "Roboto", sans-serif !important;
    text-shadow: silver 0px 0px 1px !important;
}

img {
    border: none;
}


.jumbotron, .main {
    margin-top: 2160px;
    -webkit-transition: margin 0.318s ease-in-out, opacity 0s ease-in;
    transition: margin 0.318s ease-in-out, opacity 0s ease-in;
}

.card-header {
    margin-bottom: 10px;
}

.card-header ::content h2 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 300;
}

.card-header ::content img {
    width: 100%;
}

footer {
    background: #444;
    height: 125px;
}

footer, header, section {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section-wrapper {
    margin: 0 auto;
}

.logo {
    display: inline-block;
    float: left;
    width: 96px;
}

.logo>img{
    padding-left: 30px;height: 120px;
}

footer ul {
    margin: 0;
    padding: 51px 30px 0;
    text-align: right;
}

footer li {
    display: inline;
    line-height: 2.19;
    list-style: none;
    margin: auto;
}

footer a {
    color: #f3f3f3;
    font-size: .9em;
    font-weight: 400;
}

a {
    color: #0277bb;
    text-decoration: none !important;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    transition: color 0.1s linear;
}

a {
    background: transparent;
    color: #02a8f3;
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
}

@-webkit-keyframes shakeit {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg);
        transform: translate(2px, 1px) rotate(0deg);
    }

    2% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    4% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg);
        transform: translate(-3px, 0px) rotate(1deg);
    }

    6% {
        -webkit-transform: translate(0px, 2px) rotate(0deg);
        transform: translate(0px, 2px) rotate(0deg);
    }

    8% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
        transform: translate(1px, -1px) rotate(1deg);
    }

    10% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    12% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
        transform: translate(-3px, 1px) rotate(0deg);
    }

    14% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg);
        transform: translate(2px, 1px) rotate(-1deg);
    }

    16% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
        transform: translate(-1px, -1px) rotate(1deg);
    }

    18% {
        -webkit-transform: translate(2px, 2px) rotate(0deg);
        transform: translate(2px, 2px) rotate(0deg);
    }

    20% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.shake:hover,
.shake:focus {
}

.shake {
    display: inline-block;
    -webkit-animation-name: shakeit;
    -webkit-animation-duration: 2.5s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: shakeit;
    animation-duration: 2.5s;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.account-card-h1{
    font-size: 1.5em !important;color: #00BCD4 !important;font-weight: lighter;
}

.account-card-h2{
    font-size: 1.2em !important;font-weight: lighter;
}

.account-card-main{
    width:550px;
}

.submit-button{
    background-color: #d23f31 !important;
}

.movie-card{
    display: block !important;position: relative;padding: 10px;width: 320px;font-weight: 300;
}

.movie-card > a > img{
    width: 100%;
}

.movie-card-inner{
    background-color:white;padding-bottom: 10px;box-shadow: 3px 3px 3px #d3d1d1;
}

.movie-card-inner>.h2{
    max-width: 320px;margin-left: auto;margin-right: auto;padding-left: 10px;margin-top:0px;padding-right: 10px;font-weight: 300;
}

.movie-card-inner>p{
    max-width: 320px;margin-left: auto;margin-right: auto;line-height: 1.6;padding-left: 10px;  padding-right: 10px;
}

.theater-card{
    display: block !important;position: relative;padding: 10px;width: 768px;font-weight: 300;
}

.theater-card > img{
    width: 100%;
}

.movie-card-inner{
    background-color:white;padding-bottom: 10px;box-shadow: 3px 3px 3px #d3d1d1;
}

.movie-card-inner>.h2{
    max-width: 320px;margin-left: auto;margin-right: auto;padding-left: 10px;margin-top:0px;padding-right: 10px;font-weight: 300;
}

.movie-card-inner>p{
    max-width: 320px;margin-left: auto;margin-right: auto;line-height: 1.6;padding-left: 10px;  padding-right: 10px;
}

.login-card{
    width:512px;height:340px;margin-left:auto;margin-right:auto;
}

.login-card>h1{
    font-size: 1.5em !important;color: #00BCD4 !important;font-weight: lighter;
}

.login-submit-btn{
    background-color: #d23f31 !important;float:right;
}

.movie-detail-container{
    width: 768px;
}

.movie-detail-card{
    max-width: 512px;margin-right: 50px;
}

.movie-detail-card>img{
    width: 384px !important;
}

.nav-with-logo{
    background-size: cover;    min-height: 120px;    transition: all 0.18s ease-in; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.nav-header-logo, .nav.navbar-nav{
    margin: 8px 8px;
}

.nav-header-logo>img{
    height: 120px; margin-right: 25px; display: inline-block;
}

.nav-list-item{
    font-size: 1.6em;
}

.nav.navbar-nav>h1{
    margin: 0;display: block;font-size: 2em;-webkit-margin-before: 0.67em;-webkit-margin-after: 0.67em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;
}

.nav-drop-down{
    font-size: 1em;
}

#ticket-info, #card-info{
    width:512px;margin-left:auto;margin-right:auto;
}

#ticket-info>h1, #card-info>h1{
    font-size: 1.5em !important;color: #00BCD4 !important;font-weight: lighter;
}

.payment-info-h1{
    font-size: 1.5em !important;color: #00BCD4 !important;font-weight: lighter;
}

.payment-goback-btn{
    background-color: #d23f31 !important; float:left;
}

.container-fluid{
    min-height: 100%;
}
